{% extends 'base.html' %}

{% block content %}
<style>
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .button-section {
        text-align: center;
        margin-bottom: 20px;
    }
    .button-section a button {
        width: 100%;
        max-width: 400px;
        padding: 10px;
        margin: 5px 0;
        background: transparent;
        border: 1px solid black;
        border-radius: 4px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
    }
    .list-section {
        text-align: center;
    }
    .list-section ul {
        list-style-type: none;
        padding: 0;
    }
    .list-section li {
        margin: 5px 0;
    }
</style>

<h1>Staff Sections</h1>
<div class="button-section">
    <a href="{% url 'create_schedule' %}"><button>Add Schedule</button></a>
    <a href="{% url 'all_schedules' %}"><button>View All Schedules</button></a>
    <a href="/admin/staff_scheduling/timeoffrequest/add/"><button>Add Time Off Request</button></a>
    <a href="/admin/staff_scheduling/staff/add/"><button>Add Staff</button></a>
</div>
<div class="list-section">
    <h3>Staff List</h3>
    <ul>
    {% for staff in staff %}
        <li>{{ staff.staff_name }} ({{ staff.staff_role }}) - Email: {{ staff.staff_email }}</li>
    {% empty %}
        <li>No staff available.</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}