{% extends 'base.html' %}

{% block content %}
<h1>Make a Reservation</h1>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="customer_name" placeholder="Name" required>
    <input type="email" name="customer_email" placeholder="Email" required>
    <input type="date" name="date" placeholder="Date" required>
    <input type="time" name="time" placeholder="Time" required>
    <input type="number" name="number_of_guests" placeholder="Guests" min="1" required>
    <button type="submit">Book Now</button>
</form>
{% endblock %}