<!DOCTYPE html>
<html>
<body>
    <h1>Order New Stock</h1>
    <form method="POST">
        {% csrf_token %}
        <label>Item:
            <select name="item_id" required>
                {% for item in items %}
                    <option value="{{ item.item_id }}">{{ item.item_name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>Quantity: <input type="number" name="quantity" required></label><br>
        <button type="submit">Order Stock</button>
    </form>
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>